.comment{
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    border-bottom: 2px solid ;
}

.username {
    justify-self: left;
    padding-left: 20px;
}

.buttons {
   display: flex;
   flex-wrap: nowrap; 
}

.reply-btn {
    justify-self: flex-end;
    border: 4px solid #181e21 ;
    font-size: 20px;
    font-weight: bold;
}

.text {
    padding: 5px;
    padding-left: 50px;
}