.search-input {
    background-color: #bbcacf;
    color: #181e21;
    font-size: 25px;
    width: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    border: 3.5px solid #bbcacf;

}

.search-input:focus {
   outline: #181e21 ;
}

form{
    display: flex;
    justify-content: center;
}

.search-btn {
   
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-left: 1px solid;
    width: 125px;
}

.search-btn:hover {
    background-color:#181e21 ;
    color:#bbcacf;
}
