

.navBar {
  background: #2A6A82;
  color: white;
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  /* box-shadow: 0px 0px 10px 4px rgba(27, 77, 95, 0.8); */
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
  width:20%
}

.log {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

