ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: #2A6A82;
  color: white;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

